# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WinFormsApp1.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Garipov\Desktop\C#Game\Game\WF\WinFormsApp1\.idea\.idea.WinFormsApp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
